In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')

In [ ]:
#!pip install tsfresh

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

import numpy as np
import pandas as pd

#from tsfresh.transformers import RelevantFeatureAugmenter

import xgboost as xgb

from sklearn.model_selection import train_test_split, TimeSeriesSplit, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.feature_selection import RFECV
from sklearn.metrics import mean_absolute_error as mae, make_scorer
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPRegressor

import statsmodels.api as sm
import statsmodels.formula.api as smf

sns.set(color_codes=True)
%matplotlib inline

In [ ]:
%cd /content/gdrive/Shared\ drives/DS4A_Colab

Steps for this jupyter notebook:

- NaN's, z-score
- transform (lags)
- recursive feature elimination (random forest)

In [ ]:
df = pd.read_csv('Data/Copia de santa_marta_consolidado_2008_2020.csv')
df['FECHA'] = pd.to_datetime(df['FECHA'])
df.drop(columns=['COD_DPTO','COD_MUNICIPIO','POBLACION'], inplace=True)

In [ ]:
df.fillna(method='ffill', inplace=True)

In [ ]:
df.set_index('FECHA', inplace=True)

In [ ]:
df_features = df[df.columns[:-3]].iloc[:-9]
df_target = df[df.columns[-3:]].iloc[:-9]
#The last entries are used as a final test set.

In [ ]:
df.head()

             ANO  SEMANA  ...  DENGUE GRAVE  MORTALIDAD POR DENGUE
FECHA                     ...
2007-12-30  2008       1  ...             1                      0
2008-01-06  2008       2  ...             0                      0
2008-01-13  2008       3  ...             0                      0
2008-01-20  2008       4  ...             1                      0
2008-01-27  2008       5  ...             1                      0

[5 rows x 21 columns]

In [ ]:
scaler = StandardScaler()
scaler.fit(df_features)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [ ]:
std_df_features = pd.DataFrame(scaler.transform(df_features)).set_index(df.iloc[:-9].index)
std_df_features = pd.concat([std_df_features, df_target['DENGUE']], axis=1)
std_df_features.columns = list(df_features.columns) + ['DENGUE']

In [ ]:
std_df_features.head()

                 ANO    SEMANA  PRECIPITATION  ...    SST3.4       TNI  DENGUE
FECHA                                          ...
2007-12-30 -1.589155 -1.670965      -0.455648  ... -2.208234  1.619153       8
2008-01-06 -1.589155 -1.605010      -0.455648  ... -2.278717  1.818744       9
2008-01-13 -1.589155 -1.539055      -0.455648  ... -2.278717  1.818744       6
2008-01-20 -1.589155 -1.473100      -0.455648  ... -2.278717  1.818744       9
2008-01-27 -1.589155 -1.407145      -0.455648  ... -2.246186  1.933722       8

[5 rows x 19 columns]

In [ ]:
def lagged_df(df, lag_size):
  dfs = list()
  for i in range(lag_size):
    df_lag = df.shift(i+1)
    df_lag.columns = [col+'_lag_'+str(i+1) for col in df.columns]
    dfs.append(df_lag)
  return pd.concat([df]+dfs, axis=1)

In [ ]:
std_df_features_lag = lagged_df(std_df_features, 12)

In [ ]:
#rfecv = RFECV(estimator=RandomForestRegressor(n_estimators=500, random_state=1), step=1, cv=TimeSeriesSplit(2))
rfecv = RFECV(estimator=xgb.XGBRegressor(objective="reg:squarederror", random_state=1), step=1,
              cv=TimeSeriesSplit(3), min_features_to_select=10)

In [ ]:
best_cols = dict()
for i in range(8):
  rfecv.fit(std_df_features_lag.iloc[12:-i-1], df_target['DENGUE'].shift(-i-1).iloc[12:-i-1])
  best_cols[str(i+1)+'_weeks_ahead'] = [std_df_features_lag.columns[i] for i in range(len(rfecv.support_)) if rfecv.support_[i]][:10]

In [ ]:
best_features = pd.DataFrame(best_cols)

In [ ]:
best_features

             1_weeks_ahead  ...           8_weeks_ahead
0                      ANO  ...                     ANO
1                   SEMANA  ...                  SST1+2
2         TEMPERATURE_AMAX  ...                  DENGUE
3        REL_HUMIDITY_AMAX  ...          DRY_DAYS_lag_1
4        REL_HUMIDITY_AMIN  ...            DENGUE_lag_1
5        TEMPERATURE_RANGE  ...               ANO_lag_3
6        REL_HUMIDITY_MEAN  ...  TEMPERATURE_AMAX_lag_4
7                   SST1+2  ...  TEMPERATURE_AMAX_lag_5
8                   DENGUE  ...  TEMPERATURE_AMAX_lag_7
9  TEMPERATURE_RANGE_lag_1  ...              TNI_lag_12

[10 rows x 8 columns]

In [ ]:
best_features.to_csv('best_features_santa_marta.csv')